// the style will be applied to all pages

/* stylelint-disable selector-pseudo-class-no-unknown */
:global {
    .forceWrap {
        word-break: break-all !important;
        word-wrap: break-word !important;
        white-space: pre-wrap !important;
    }

    .forceNoWrap {
        word-break: keep-all !important;
        word-wrap: normal !important;
        white-space: pre !important;
    }
}
