@use '~@/styles/color' as color;

.codeBox {
    margin-top: 16px;
    overflow: hidden;
    background-color: #202124;
    border: 1px solid color.$static-gray-5;

    .copyWrapper {
        position: relative;

        .copyContainer {
            position: absolute;
            top: 0;
            right: 22px;

            .copy {
                position: fixed;
                font-size: 22px;
            }
        }
    }

    .numWrapper {
        width: 32px;
        margin-right: 16px;

        .num {
            color: #858585;
            text-align: end;
            vertical-align: middle;
        }
    }

    .codeWrapper {
        max-width: 712px;
        overflow: scroll;
        white-space: pre;

        .code {
            color: #d4d4d4;
        }
    }
}
