$prefix: 'plum-' !default;

// colors
$gray-1: var(--#{$prefix}gray-1) !default;
$gray-2: var(--#{$prefix}gray-2) !default;
$gray-3: var(--#{$prefix}gray-3) !default;
$gray-4: var(--#{$prefix}gray-4) !default;
$gray-5: var(--#{$prefix}gray-5) !default;
